html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
}

h2 {
  font-size: 2rem;
  color: #333;
  text-align: center;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding-top: .5em;
}

i {
  font-size: .875rem;
}

p {
  margin: 0;
  padding-bottom: 1em;
}

.cards {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  margin: 0 1em;
}

.cards li {
  display: flex;
  flex-direction: column;
  padding: .5em;
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: left;
  width: 25%;
  margin-bottom: 1em;
}

img {
  margin: 0 auto;
  width: 100%;
  display: block;
  flex-direction: row;
  flex-grow: 1;
}

.img {
  width: 100px;
}

.btn-small {
  font-size: .875rem;
}

.btn {
  background-color: #333;
  border-radius: 4px;
  color: #f2f2f2;
  text-decoration: none;
  display: flex;
  padding: .75rem;
  flex-grow: 1;
  margin-top: 2em;
}

.btn:hover {
  background-color: #aaa;
  color: #999;
}

.lighter {
  background-color: #e2e2e2;
}

.light {
  background-color: #ccc;
}

.dark {
  background-color: #aaa;
}

.darker {
  background-color: #999;
}
